<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.org.opendfl.shardings.mapper.DictMapper">
    <resultMap id="resultMap" type="cn.org.opendfl.shardings.po.Dict">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="dict_type" property="dictType" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="columnsName">
        id
        ,dict_type,create_time
    </sql>

</mapper>  