<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sharding="http://shardingsphere.apache.org/schema/shardingsphere/sharding"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://shardingsphere.apache.org/schema/shardingsphere/sharding 
                        http://shardingsphere.apache.org/schema/shardingsphere/sharding/sharding.xsd 
                        ">

    <bean id="dsSharding" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"  value="jdbc:mysql://192.168.0.40:3306/ds_single?allowPublicKeyRetrieval=true&amp;useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=GMT%2B8&amp;useSSL=false&amp;allowMultiQueries=true"/>
        <property name="username" value="sharding"/>
        <property name="password" value="jh@123456"/>
    </bean>

    <bean id="tableShardingAlgorithm" class="cn.org.opendfl.sharding.config.algorithm.TbShardingKeyAlgorithm"/>
    <bean id="tableShardingDateAlgorithm" class="cn.org.opendfl.sharding.config.algorithm.TbShardingKeyDateAlgorithm" />
    <bean id="tableShardingRangeAlgorithm" class="cn.org.opendfl.sharding.config.algorithm.TbShardingKeyRangeAlgorithm" />
    <bean id="tableShardingDateRangeAlgorithm" class="cn.org.opendfl.sharding.config.algorithm.TbShardingKeyDateRangeAlgorithm" />
    <sharding:standard-strategy id="tableShardingStrategy" sharding-column="user_id" precise-algorithm-ref="tableShardingAlgorithm"/>
    <sharding:standard-strategy id="tableShardingDateStrategy" sharding-column="create_time" precise-algorithm-ref="tableShardingDateRangeAlgorithm"  range-algorithm-ref="tableShardingDateRangeAlgorithm"/>

    <sharding:key-generator id="orderKeyGenerator" type="SNOWFLAKE" column="id"/>

    <sharding:data-source id="shardingDataSource">
        <sharding:props>
            <prop key="sql.show">true</prop>
        </sharding:props>
        <sharding:sharding-rule data-source-names="dsSharding">
            <sharding:table-rules>
                <sharding:table-rule logic-table="t_user"
                                     actual-data-nodes="dsSharding.t_user_$->{0..3}"
                                     table-strategy-ref="tableShardingStrategy"
                                     key-generator-ref="orderKeyGenerator"/>
                <sharding:table-rule logic-table="t_user_login"
                                     actual-data-nodes="dsSharding.t_user_login"
                                     table-strategy-ref="tableShardingDateStrategy"
                                     key-generator-ref="orderKeyGenerator" />
                <!-- <sharding:table-rule logic-table="t_xxx" 
                actual-data-nodes="ds$->{0..1}.t_xxx_$->{0..2}" 
                database-strategy-ref="databaseStrategy"
                table-strategy-ref="tableShardingStrategy" 
                key-generator-ref="orderKeyGenerator" /> -->
            </sharding:table-rules>
            <sharding:binding-table-rules>
                <sharding:binding-table-rule logic-tables="t_user"/>
                <sharding:binding-table-rule logic-tables="t_user_login" />
            </sharding:binding-table-rules>
            <sharding:broadcast-table-rules>
                <sharding:broadcast-table-rule table="t_dict"/>
            </sharding:broadcast-table-rules>
        </sharding:sharding-rule>
    </sharding:data-source>

    <!-- 如果是单库，可以共用数据源，共用事务
        分表模式，涉及金币的情况下，可以不要事务
    <bean id="transactionManagerSharding" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="shardingDataSource" />
    </bean>
    -->


    <bean id="sqlSessionFactorySharding" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="shardingDataSource"/>
        <property name="mapperLocations" value="classpath*:mappers/**/*.xml"/>
        <!--        <property name="plugins">-->
        <!--            <array>-->
        <!--                <bean id="pageInterceptor" class="com.github.pagehelper.PageInterceptor">-->
        <!--                    <property name="properties">-->
        <!--                        <value>-->
        <!--                            helperDialect=mysql-->
        <!--                            reasonable=true-->
        <!--                            supportMethodsArguments=true-->
        <!--                            params=count=countSql-->
        <!--                        </value>-->
        <!--                    </property>-->
        <!--                </bean>-->
        <!--            </array>-->
        <!--        </property>-->
    </bean>

    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.org.opendfl.shardings.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactorySharding"/>
    </bean>

    <bean id="sqlSessionFactoryShardingSingle"
          class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dsSharding"/>
        <property name="mapperLocations">
            <array>
                <value>classpath*:mapper/CommonMapper.xml</value>
            </array>
        </property>
    </bean>

    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="cn.org.opendfl.sharding.auto.mapper"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryShardingSingle"/>
    </bean>
</beans>
